<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Web show điện thoại</title>
<div th:replace="admin/common/headerCSS::head-css"></div>
</head>
<body>
	<div th:replace="admin/common/header::header"></div>
	<div layout:fragment="content">empty</div>
	<div th:replace="admin/common/footer::footer"></div>
	<div th:replace="admin/common/bodyJS::body-js"></div>
</body>
</html>